<div class=zt-footer-inner id=zt-footer-inner>
<ul class="zt-footer-about zt-fl" style="font-size:12px; text-align:center; float:inherit">特别声明：影音影视所有资源均采集第三方资源，一切关于影视版权类问题与本软件无关！ 本站提供的最新电视剧和电影资源均系收集于各大视频网站<br>本网站只提供web页面服务，并不提供影片资源存储，也不参与录制、上传。若本站收录的节目无意侵犯了贵司版权，请邮件给我们，我们会及时处理和回复，谢谢!
<br><br>
友情提示：请勿长时间观看影视，注意保护视力并预防近视，合理安排时间，享受健康生活<br>Copyright © 2014-2015 小俊工作室 保留所有权利  合作邮箱：787850323@qq.com  联系QQ： {maccms:qq}  备案号： {maccms:icp} </ul></div><script src="{maccms:path_ads}youxia250X200.js"></script><script src="{maccms:path_ads}duilian.js"></script>