<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>[vod:name]免费在线观看-[vod:name]全集-[vod:name]演员表-[vod:name]高清版-尽在{maccms:name}</title>
<meta name="keywords" content="[vod:name]在线观看,[vod:name]全集,[vod:name]演员表,[vod:name]高清版,[vod:name]完整版,[vod:name]预告,[vod:name]花絮" />
<meta name="description" content="{maccms:name}提供最新最全的[vod:name]免费在线观看,[vod:name]演员表,[vod:name]介绍,[vod:name]花絮等。想看更多[vod:name]简介，就来{maccms:name}!" />
<meta name="Resource-type" content="{maccms:name}" />
{maccms:include}
[vod:history]
</head>
<body >
<iframe id="myFrameId" name="iframename" scrolling="no" frameborder="0" style="display:none"></iframe> 
{maccms:head}
<!--轮播图开始-->
         <div id="banner">
            <div class="bannerx-inner">
             
              
            </div><!--banner-inner-->
         </div><!--banner--><!--内容开始-->
     <div class="details-body">
        <!--面包屑开始-->
        <div class="crumbs">
           <span class="fl">您所在的位置：</span>
           <div class="crumbs-all fl">
            [vod:textlink]
           </div>
       </div><!--crumbs-->
        
       
       <div class="details-left fl">
       
          <div class="details-con1">
            <a href="[vod:playlink]" class="details-pic fl" target="iframename">
              <img class="scrollLoading" data-url="[vod:pic]" src="{maccms:path_tpl}images/pic.png" width="210" height="280" alt="[vod:name]">
            </a>

            <div class="details-content fr">
                <div class="art-title">
                 <h1>[vod:name len=14]</h1>
                <div class="ext-share">
                    <div class="bdsharebuttonbox">
                         <div class="bdsharebuttonbox"><A class=bds_more href="#" data-cmd="more"></A><A class=bds_qzone title=分享到QQ空间 href="#" data-cmd="qzone"></A><A class=bds_tsina title=分享到新浪微博 href="#" data-cmd="tsina"></A><A class=bds_tqq title=分享到腾讯微博 href="#" data-cmd="tqq"></A><A class=bds_renren title=分享到人人网 href="#" data-cmd="renren"></A><A class=bds_weixin title=分享到微信 href="#" data-cmd="weixin"></A><A class=bds_sqq title=分享到QQ好友 href="#" data-cmd="sqq"></A><A class=bds_bdysc title=分享到百度云收藏 href="#" data-cmd="bdysc"></A></div>

                    </div>
                    <div class="fav-ico"><a  href="#comments">我要评论</a></div>
                </div>
              </div>
                <div class="synopsis">
                  <p><span>导演：</span>[vod:directedlink] <span style="margin-left:50px;">得分：</span><strong style="font-weight:bold; color:#FF6600" ><em>&nbsp;&nbsp;[vod:score]</em></strong><span style="margin-left:50px;">人气：</span><strong style="font-weight:bold; color:#FF6600" ><em>&nbsp;&nbsp;[vod:hits]℃</em></strong></p>                    <p><span>主演：</span>[vod:starringlink]</p>                    <p>
                        <span>分类：</span><a target="_blank" href="[vod:typelink]">[vod:typename]</a> 
						<span style="margin-left:50px;">地区：</span>[vod:arealink]
						<span style="margin-left:50px;">语言：</span>[vod:langlink]
						<span style="margin-left:50px;">年代：</span>[vod:yearlink] 
						
						</p>
                    <p class="synopsis-article"><span>简介：</span>[vod:contenttext]</p>
                    <div class="update-last-time">
                        <!-- 
                        <p class="fl"><span>剧集：</span>更新至<b class="imp">40</b>集 / 共 40 集</p>
                        <div class="last-time fl"></div>
                         -->
                         <div class="ult-div1">
                             <a href="[vod:playlink]" data-num="1" class="play-go-btn" target="_blank" id="go_play">立即播放</a>
                         </div>
                         <div class="ult-div2 fl">
                             {if-A:[vod:state]< 1}更新至[vod:remarks]版本{elseif-A:[vod:state]<1000 and [vod:state]>0}更新至第[vod:state]集{elseif-A:[vod:state]>1000}更新至[vod:state]期{elseif-A:[vod:state]=0 and "[vod:remarks]"=""}更新完结{else-A}{endif-A}
                         </div>
                         <div class="ult-div3 last-time fl">
                         
                         </div>

                    </div><!--update-last-time-->
                </div>
                
            </div>
          </div><!--details-con1-->

          <div class="details-con2">
             <div class="details-con2-head">
               <span class="select-source fl">小俊工作室：致力于maccms模板仿制、定制、原创设计 www.xiaog.cc</span>
             </div>
             {maccms:play}
             <div class="details-con2-body" id="all_pagination">
              <!--details-con2-wrap-->
			   <div class="details-con3">
            <div class="details-con3-head">
                <ul class="fch1 dch1">
                   <li class="active-style8"><i></i>[play:show]</li>
				   </ul>
            </div>
             <div class="details-con3-body">
                <div class="dcb" style="display:block;">
                  <div class="you-likes">
              <div class="details-con2-wrap">
                 <ul class="details-con2-list">
               {maccms:url order=asc}
                 <li ><a data-num="[url:num]" href="[url:link]&path=[url:path]" target="_blank">[url:name]</a></li>
              {/maccms:url}  
                </ul>
																	   
               </div>
                  </div>
                </div><!--dcb-->                   
             </div><!--details-con3-body-->
          </div>
			   
             </div>
			{/maccms:play}   

          </div><!--details-con2-->
   
          <div class="details-con3">
            <div class="details-con3-head">
                <ul class="fch1 dch1">
                   <li class="active-style8"><i></i>猜你喜欢作品</li>
                   <li>相关导演作品</li>                   <li>相关主演作品</li>                                </ul>
            </div>

             <div class="details-con3-body">
                <div class="dcb" style="display:block;">
                  <div class="you-like">
                    <ul class="fcb-ul">
                       
                      {maccms:vod num=5 by=rnd type=current order=desc}
                       <li>
                         <a href="[vod:link]" class="fcb-pic" target="_blank"><img class="scrollLoading" data-url="[vod:pic]" src="{maccms:path_tpl}img/loading.gif" width="160" height="220" alt="[vod:name]"></a>
                         <div class="movie-headline1"><a href="[vod:link]">[vod:name]</a></div>
                       </li>
                          {/maccms:vod}
                    </ul>
                  </div>
                </div><!--dcb-->

                                <div class="dcb">
                  <div class="you-like">
                    <ul class="fcb-ul">
                      
                       {maccms:vod num=5 similar=directed order=desc}
                       <li>
                         <a href="[vod:link]" class="fcb-pic" target="_blank"><img class="scrollLoading" data-url="[vod:pic]" src="{maccms:path_tpl}img/loading.gif" width="160" height="220" alt="[vod:name]"></a>
                         <div class="movie-headline1"><a href="[vod:link]">[vod:name]</a></div>
                       </li>
                          {/maccms:vod}
                    </ul>
                  </div>
                </div><!--dcb2-->
                                
                                <div class="dcb">
                  <div class="you-like">
                    <ul class="fcb-ul">
                       {maccms:vod num=5 similar=starring order=desc}
                       <li>
                         <a href="[vod:link]" class="fcb-pic" target="_blank"><img class="scrollLoading" data-url="[vod:pic]" src="{maccms:path_tpl}img/loading.gif" width="160" height="220" alt="[vod:name]"></a>
                         <div class="movie-headline1"><a href="[vod:link]">[vod:name]</a></div>
                       </li>
                          {/maccms:vod}
                    </ul>
                  </div>
                </div><!--dcb3-->
                                
             </div><!--details-con3-body-->
          </div><!--details-con2-->
		   <div class="details-con3 mt20">
             <div class="details-con3-head">
                <ul class="fch1 dch1">
                   <li class="active-style8"><i></i>用户评论</li>
               </ul>
             </div><!--details-con3-head-->

             <div class="details-con3-body">
                             <div class="dcb" style="display:block;">
                 <div class="dcb-show-pic-wrap" id="comments">
                
               <div id="comment" class="comment">[vod:comment]</div>

                  
                  </div>
               </div><!--dcb-->
                              
             </div><!--details-con3-body-->
          </div><!--details-con2-->

       </div><!--details-left-->

       <div class="details-right fr">
        <!--<div class="test-300">
<img width="300px" height="250px" src="{maccms:path_tpl}ad/300x250.jpg" alt="广告位放置" />
</div>-->
           <div class="recommend-header mt10">
              <div class="fl"><span>[vod:typename]</span>人气榜</div><a href="[vod:typelink]" class="teleplay-more">更多&gt;</a>
           </div>

           <div class="teleplay-content">

              <ul class="teleplay-con-list telclist4 tcl1">

                 {maccms:vod type=current num=10 order=desc by=hits}
                        {if-A:[vod:num]=1}<li class="list-no1"><span></span>
              <i>[vod:num]</i>
              <a href="[vod:link]" class="list-no1-pic" target="_blank"><img class="scrollLoading" data-url="[vod:pic]" width="90" height="120" src="{maccms:path_tpl}images/pic.png" alt=""></a>
              <div class="list-no1-con">
                <a href="[vod:link]" class="no1-tv-title" target="_blank">[vod:name]</a>
                <p class="top-desc">[vod:contenttext len=24]......</p>
                <p class="pview">播放指数:[vod:hits]℃</p>
                <a href="[vod:link]" target="_blank" class="top-btn">查看详情</a>
              </div>
            </li>{endif-A}
			
                                              {if-A:[vod:num]>1}<li><i>[vod:num]</i><span class="views">[vod:hits]℃</span><a href="[vod:link]" target="_blank">[vod:name]</a></li>{endif-A}
												{/maccms:vod} 
             </ul>
           </div><!--teleplay-content-->
           <!--<div class="test-300">
<img width="300px" height="250px" src="{maccms:path_tpl}ad/300x250.jpg" alt="广告位放置" />
</div>
   -->
           </div>
       </div><!--details-right-->
      
      <div class="clearfix" style="width:100%;"></div>
      


</div><!--container-inner-->
</div><!--container-->

<div class="zt-footer" id="zt-footer">{maccms:foot}</div>

</div><!--movie-wrap-->



</body>
</html>

